
<!--Budget Categories Container-->
<main>
	
	<div id="budget-container">
		
		<!--Monthly Expenses-->
		<form class="budget-form" id="expense-form">
			<h3 class="onboarding-label">My monthly reoccuring expenses are:</h3>
			<div id="expense-container" class="list-container">
			</div>
			<div class="budget-add">
		    	<label for="add-expense" class="visually-hidden">Add your own expense category</label>
		    	<input placeholder="Enter new expense category" type="text" id="add-expense">
		    	<div class="add" id="expense-add">+</div>		    </div>
		</form>

			<!--Monthly Savings-->
		<form class="budget-form hide" id="saving-form">
			<h3 class="onboarding-label">My reoccuring savings are:</h3> 
			<div id="saving-container" class="list-container">
			</div>
		    <div class="budget-add">
		    	<label for="add-saving" class="visually-hidden">Add your own savings category</label>
		    	<input placeholder="Enter new savings category" type="text" id="add-saving">

		    	<div class="add" id="saving-add">+</div>
		    </div>
		</form>
	</div>
	<!--Remaining Budget Container-->
	<div class="hide" id="remaining-budget">
		<div class="budget-bar-container">
            <div id="budget-full">
               <p>$<span id="budget-spent">0</span> allocated</p>
            </div>
            <div id="budget-empty">
            	 <p>$<span id="budget-remaining">0</span> remaining</p>
            </div>
        </div>
	</div>
	<!--Budget Allocation Container-->
	<div class="hide" id="allocation-container">
		<h3 class="onboarding-label">Enter how much you spend in each of your categories</h3>
		<p id="allocation-error"></p>
		<div id="income-allocation">
		</div>
		<div id="expense-range-container">
		</div>
		<div id="saving-range-container">
		</div>
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
	<!--Next Button-->
	<div class="page-bottom">
		<a class="btn waves-effect waves-light" onclick="expense()" id="budget-button" name="action" href="/budget">Next
		</a>
	</div>
</footer>
<script	src="/js/budget.js"></script>