<!--Tracking-->

<div class="data-block">
    <h3 class="data-header">You will Reach Financial Freedom by:</h3>
    <p class="data-value">February 2026</p>
    <div class="section-bottom">
        <div class="bar-container">
            <div class="bar-full">
                <p>30%</p>
            </div>
            <div class="bar-empty">
            </div>
        </div>
        <h5>$100,000 out of $2,000,000</h5>
    </div>
</div>

<body>
</body>

<!--Performance Table-->
<div class="section">
	<h3>Performance</h3>
	<table>
        <thead>
          <tr>
			<th>Year</th>
			<th>Goal</th>
			<th>Actual</th>
			<th>Difference</th>
			<th>Contribution</th>
          </tr>
		</thead>
		<tbody>
			<tr>
	            <td>2018</td>
            	<td>$12000</td>
            	<td>$11000</td>
            	<td>$1000</td>
            	<td>$1500</td>
        	</tr>
        	<tr>
	            <td>2019</td>
                <td>$15000</td>
                <td>$11000</td>
                <td>$1000</td>
                <td>$1500</td>
        	</tr>
        	<tr>
	            <td>2020</td>
                <td>$20000</td>
                <td>$11000</td>
                <td>$1000</td>
                <td>$1500</td>
        	</tr>
		</tbody>
	</table>
</div>
