
<main>
	<!--Button Container-->
	<section class="income-box"  id="income-container">
		<h3 class="onboarding-label">Add your reoccuring sources of income</h3>
		<div id="income-buttons-container">
		<a id="monthly" class="income-button  modal-trigger" href="#modal1">
			<figcaption>Add Monthly Income</figcaption>
		</a>
		<a id="annual" class="income-button  modal-trigger" href="#modal1">
			<figcaption>Add Annual Income</figcaption>
		</a>
	</section>
	<!--Income Container-->
	<section class="income-box" id="your-income-container">
		<h4 class="onboarding-label">Your Income</h4>
		<table id="income-table">
			<thead> 
				<tr>
					<th>Name</th>
					<th>Amount</th>
					<th>Hours Worked</th>
					<th>Period</th>
				</tr>
			</thead>
			<tbody id="income-body">
			</tbody>
		</table>
	</section>

	<!--Modal-->
	<div id="modal1" class="modal">
		<!--Modal Content-->
	    <div class="modal-content">
			<!--Modal Header-->
	    	<h4>Enter details about your <span id="account-type"></span></h4>
	    	<!--Modal Questions-->
	    	<form>
	    		<!--Name-->
		    	<div class="input-field">
			      <input id="income-name" type="text" class="validate" required>
			      <label for="income-name">What do you want to call this source of income?</label>
			      <p class="error-message" id="income-name-error"></p>
		  		</div>
		  		<!--Balance-->
		  		<div class="input-field">
			      <input id="income-amount" type="text" class="validate" required>
			      <label for="income-amount">Amount</label>
			      <p class="error-message" id="income-amount-error"></p>
		  		</div>
		  		<!--Time-->
		  		<div class="input-field">
			      <input id="income-time" type="text" class="validate" required>
			      <label for="income-time">How many hours did you work for this money?</label>
			      <p class="error-message" id="income-time-error"></p>
		  		</div>
		  	</form>
	    </div>
	    <div class="modal-footer">
	    	<a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
	    	<a href="#!" data-category="" class="modal-income-save waves-effect waves-green btn-flat">Save</a>
	    </div>
	</div>
</main>
<!--Footer-->
<footer class="onboarding">
  <!--Next Button-->
  <div class="page-bottom">
    <a class="btn waves-effect waves-light goals-submit" name="action" href="/budget">Next
    </a>
  </div>
</footer>

<script	src="/js/income.js"></script>
