
<!--Month Selection-->
<div class="section">
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>August 2018</a>
  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">July 2018</a></li>
    <li><a href="#!">June 2018</a></li>
    <li><a href="#!">May 2018</a></li>
  </ul>
</div>

<!--Overview-->
<div class="section">
	<div class="col l6">
		<div class="row">
			<div class="col s6 data-block">
				<h3 class="data-header">Total Spent</h3>
				<p class="data-value">$150</p>
				<p class="data-sub">$50 remaining</p>
				
			</div>
	    	<div class="col s6 data-block">
	    		<h3 class="data-header">Total Saved</h3>
	    		<p class="data-value">$1000</p>
	    		<p class="data-sub">$200 remaining</p>
	    	</div>
		</div>
		<div class="row">
			<div class="col s4 data-block">
				<h3 class="data-header">Budget Regret</h3>
				<p class="data-value">20%</p>			
			</div>
	    	<div class="col s4 data-block">
	    		<h3 class="data-header">Time Spent</h3>
	    		<p class="data-value">140min</p>
	    	</div>
	    	<div class="col s4 data-block">
	    		<h3 class="data-header">Goal Achieved</h3>
	    		<p class="data-value">10%</p>
	    	</div>
		</div>
	</div>
	<div class="col l6">
	</div>
</div>


<!--Transaction Table-->
<div class="section">
	<h2>Transactions</h2>
	<table>
        <thead>
          <tr>
          	<th>Date</th>
			<th>Item</th>
			<th>Cost</th>
			<th>Time</th>
			<th>Category</th>
			<th>Regret</th>
          </tr>
		</thead>
		<tbody>
			<tr>
				<td>Aug 12</td>
	            <td>Eclair</td>
            	<td>$0.87</td>
            	<td>23 min</td>
            	<td>Housing</td>
            	<td>Yes</td>
        	</tr>
        	<tr>
        		<td>Aug 19</td>
	            <td>Paycheck</td>
            	<td>$1000</td>
            	<td>23 min</td>
            	<td>Pay</td>
            	<td></td>
        	</tr>
        	<tr>
        		<td>Aug 20</td>
	            <td>Hairspray</td>
            	<td>$187</td>
            	<td>102 min</td>
            	<td>Other</td>
            	<td>No</td>
        	</tr>
		</tbody>
	</table>
</div>


