<main>
	<section class="result-container">
		<div class="results-box">
			<h2>Your Retirement Savings Goal</h2>
			<h3 id="retirement-amount"></h3>
		</div>
		<div class="results-box">
			<h2>Your Projected Retirement Year</h2>
			<h3 id="retirement-year"></h3>
		</div>
		<div class="results-box">
			<h2>Your Progress Toward Goal</h2>
			<h3 id="retirement-goal"></h3>
		</div>
	</section>
	<section class="result-bottom">
		<a class="btn" href="/">To Your Dashboard
		</a>
	</section>	
</main>
<script src="/js/result.js"></script>