<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <title>Onboarding</title>
</head>

<body>
	<header>
		<div class="progress-container">
			<ul class="progress-bar clearfix">
				<li><a href="/goals">Goals</a></li>
				<li><a href="/networth">Networth</a></li>
				<li><a href="/income">Income</a></li>
				<li><a href="/budget">Budget</a></li>
				<li><a href="/result">Result</a></li>
			</ul>
		</div>
		<h1 class="onboarding">{{{title}}}</h1>
	</header>
	
    	{{{body}}}
	
	<script src="/js/onboarding.js"></script>
</body>
</html>