//team container header
.team-container-header img {
  max-width: 70px;
  max-height: 70px;
}

.team-container-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  h2 {
    font-size: 2rem;
    margin-left: 20px;
  }
}

//team container

section.team-container {
  display: flex;
}

.team-box {
  width: 100%;
}

.team-box-top {
  padding: 20px;
  border-radius: 10px;
  margin: 5px;
  text-align: center;
  color: white;

    h3 {
      margin-top: 10px;
    }
}

.team-box-bottom {
  text-align: center;
  font-size: 3rem;
}

.ranking {
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}

main {
  width: 80%;
  margin: 0 auto;
}

